@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Coda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');
/*----------------------------------------------------------------------------------------------
 global
-----------------------------------------------------------------------------------------------*/
h1{ 
    font-weight: 400;
    font-family: 'Marck Script', cursive;
    color: #E7F0FF;
    font-size: 73px;
    margin-top: 0;
 }
p
{
    text-align: center;
}
img
{
    max-width: 100%;
}

.body-content
{
    background-color: #ecf0f1;
}
.container
{
    width: 100%;
}
.after-slide, .share-icons {
    background: url(../img/00.png);
    padding-bottom: 60px;
    padding-top: 60px;
}

h2.top-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: white;
    font-size: 40px;
}
h2.sub-text {
    position: relative;
    top: 5px;
    bottom: 37px;
    background: rgb(39, 64, 55);
    color: white;
    font-size: 30px;
    font-family: "Lato", Helvetica, sans-serif;
    padding: 8px 12px 12px 12px;
    width: 226px;
    text-align: center;
    margin: 10px auto;
    border-radius: 8px;
}
.main-text {
    margin-top: -30px;
    position: relative;
    top: -15px;
}

/*-------------------------------------------------------------------------------------------
header
---------------------------------------------------------------------------------------------*/
.logo{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-home {
    margin: 15px 0 29px 0;
}

#logo {
    height: 80px;
    flex-grow: 1;
    display: flex;
    align-items: center; 
}
#logo img, #logo a {
    height: 100%;
}
#logo span {
    font-family: 'logo';
    color: #E3413F;
    font-size: 35px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.timer
{
    position:absolute;
    width:100%;
    left:0;
    top:0;
    text-align:center;
    z-index:99;
}
.timer-circle
{
    padding-top: 25px;
}
.timer-circle h1 {
    font-size: 50px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: rgb(234, 238, 236);
    text-shadow: 2px 3px 3px #427B7A;
    padding-bottom: 20px;
}
.logo h1 {
    font-weight: 400;
    font-family: 'Marck Script', cursive;
    color: #E7F0FF;
    font-size: 73px;
}
.circle {
    width: 175px;
    height: 175px;
    line-height: 50px;
    display: inline-block;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 5px white dotted;
    color: white;
    background-color: rgba(44, 143, 205, 0.70);
}
#spacer1 
{
    font-size: 35px;
    padding-top: 35px;
}
#spacer2 
{
    font-size: 35px;
}
/*-------------------------------------------------------------------------------------------
 Carousel base class 
----------------------------------------------------------------------------------------------*/
.carousel 
{
    height: 760px;
}
.carousel .item 
{
    height: 760px;
    background-color: #777;
    background-size: cover;
    background-position: bottom;
    filter: brightness(0.7) sepia(0.2) blur(1px);
}
.carousel-inner > .item > img 
{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 760px;
}

/*@media (min-width: 300px) and (max-width:480px){
    .caption {
       padding-bottom: 0px;
       background:none;
       border-radius: 0px;
    }

}*/
@media (min-width: 500px){
.caption {
    padding-bottom: 40px;
    background: rgba(121, 154, 134, 0.35);
    border-radius: 5px;
    border-bottom: 3px solid ghostwhite;
}
}
@media (max-width: 500px){
.caption h1 {
    font-size: 16px !important;
}
}
.caption h1 
{
    font-size: 29px;
}
/*----------------------------------------------------------------------------------------------------
subscribe
-----------------------------------------------------------------------------------------------------*/
.after-slide-text
{
    padding: 35px;
    font-size: 35px;
    font-family: 'Old Standard TT', serif;
    color: darkslategrey;
}
.subscribe-form {
    margin: 0 auto;
    width: 50%;
}

.form
{
    padding: 20px;
}
/*----------------------------------------------------------------------------------------------------
Asso
-----------------------------------------------------------------------------------------------------*/
.services
{
    background: url(../img/services.jpg);
    padding: 50px 0px;
    background-size: cover;
}
.service, .association {
    background-color: #CCCCCC;
}
.project {
    background-color: #EDEDED;
}
.service-text h3, .share-text h3, .association-text h3 {
    padding: 30px 0 0 20px;
    font-size: 45px;
    font-family: 'Coda', cursive;
    text-shadow: 1px 1px 1px #ABAFAE;
    color: #424242;
}
.service-text p , .share-text p, .association-text p
{
    font-size: 18px;
    line-height: 1.8;
    color: #424242;
    font-family: 'Merriweather', serif;
    font-weight: lighter;
}
.about-service 
{
    font-family: 'Old Standard TT', serif;
    font-size: 19px;
    padding-top: 25px;
    background: url(../img/00.png);
}
.about-service p
{
    font-family: 'Alegreya', serif;
}
.service-icon h3 
{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 33px;
    text-shadow: 1px 1px 1px #FFF;
    color: rgb(179, 179, 179);
}
.service-icon i 
{
    padding-top: 12px;
    padding-bottom: 0px;
    color: lightseagreen;
}
hr {
    border-color: #212121;
}
.full
{
    width: 50%;
}
.half
{
    width: 25%;
}
/*
 ---------------------------------------------------------------------------------------------------
share
 ---------------------------------------------------------------------------------------------------*/
.share-icons {
    padding: 10px 0 20px 0;
    background: #2C8FCD;
}
.socials-icons {
    margin: 0 auto;
    text-align: center;
    position: relative;
    display: block;
    width: 100%;
}   
.socials-icons li 
{
    margin: 0 15px;
    display: inline-block;
    padding-bottom: 10px;
}
.socials-icons li a 
{
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0.8;
}
.socials-icons li a i.fa 
{
    color: #fff;
    line-height: 50px;
    font-size: 21px;
}
.socials-icons li a:hover 
{
    opacity: 1;
}
.facebook
{
    background-color: #263238;
}
.facebook:hover
{
    background-color: #46629E;
}
.twitter
{
    background-color: #263238;
}
.twitter:hover
{
    background-color: #0EAACE;
}
.instagram
{
    background-color: #263238;
}
.instagram:hover
{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.whatsapp
{
    background-color: #263238;
}
.whatsapp:hover
{
    background-color: #25D366;
}
/*----------------------------------------------------------------------------------------------------
FOOTER
-----------------------------------------------------------------------------------------------------*/
.footer {
    background: #424242;
    color: rgba(255,255,255,0.9);
    padding-top: 15px;
}
.name
{
    font-family: 'Coda', cursive;
    color: rgb(173, 200, 248);
    font-size: 45px;
}
.copyright 
{
    text-align:center;
    padding:30px;
    font-size: 14px;
}
/*---------------------------------------------------------------------------------------------------
back to top
---------------------------------------------------------------------------------------------------*/
#back-top a 
{
    width:45px;
    display:block;
    text-transform:uppercase;
    text-decoration:none;
    color:#bbb;
    -webkit-transition:1s;
    -moz-transition:1s;
    -o-transition:1s;
    -ms-transition:1s;
    transition:1s;
}
#back-top a:hover 
{
    color: #bbb;
}
#back-top span 
{
    width:45px;
    height:45px;
    display:block;
    margin-bottom:7px;
    background:rgba(255,255,255,0.2) url(../img/arrow-top.png) no-repeat center center;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    -webkit-transition:1s;
    -moz-transition:1s;
    -o-transition:1s;
    -ms-transition:1s;
    transition:1s;
}
#back-top a:hover span 
{
    background-color: #777;
}
/*-------------------------------------------------------------------------------------------------
media query for responsive
---------------------------------------------------------------------------------------------------*/
@media (max-width: 992px) and (min-width: 400px)
{
    .circle
    {
        width:130px;
        height:130px;
    }
    #spacer1
    {
        font-size: 30px;
        padding-top: 17px;
    }
    #spacer2
    {
        margin-top: -15px;
        font-size: 30px;
    }
}
@media (max-width: 579px) and (min-width: 400px)
{
    .carousel 
    {
        height: 750px;
    }

    .carousel .item 
    {
        height: 750px;
    }
    .carousel-inner > .item > img 
    {
        height: 750px;
    }
}
@media all and (max-width: 399px)
{
    .timer-circle h1 
    {
        font-size: 30px;
    }
    .circle 
    {
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
    }
    #spacer1 
    {
        font-size: 25px;
        padding-top: 15px;
    }
    #spacer2 
    {
        font-size: 25px;
    }
    .title 
    {
        margin: 0;
        padding: 0;
        line-height: 1;
    }
}
#partners {
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: 0;
    z-index: 1;
    width: 100%;
    left: 0;
    right: 0;
    height: 110px;
    margin: auto;
    background-color: rgba(0,0,0,0.3);
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(6px 6px 4px black);
    border-top: 1px solid wheat;
}
#partners img.small {
    height: 35px;
}
#partners img.medium {
    height: 70px;
}
#partners img.big {
    height: 85px;
}
@media screen and (max-width: 1200px) {
    #partners img.small {
        height: 26px;
    }
    #partners img.medium {
        height: 52px;
    }
    #partners img.big {
        height: 64px;
    }
}
@media screen and (max-width: 992px) {
    #partners {
        flex-wrap: wrap;
        height: auto;
        background-color: #555;
        position: relative;
        padding: 15px;
        text-align: center;
        filter: none;
    }
    #partners img.small {
        height: 21px;
    }
    #partners img.medium {
        height: 42px;
    }
    #partners img.big {
        height: 51px;
    }
    .carousel-inner {
        position: relative;
    }
    .carousel-inner .container {
        position: relative;
        background-image: url('../img/img3.jpg');
        background-position: center;
        background-size: cover;
    }
    .timer-circle .container-circles {
        margin-bottom: 15px;
    }
    h2.top-text, .desc h3 {
        padding: 15px;
    }
    #bg1, #bg2, #bg3 {
        display: none;
    }
    .carousel-indicators {
        display: none;
    }
    .carousel {
        height: auto;
    }
    #home {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
    #logo {
        justify-content: center;
    }
}
@media screen and (max-width: 576px) {
    #partners {
        flex-wrap: wrap;
        height: auto;
        background-color: #555;
        position: relative;
        padding: 15px;
        text-align: center;
        filter: none;
    }
    #partners a {
        flex-basis: 45%;
    }
    #partners img.small {
        height: 35px;
    }
    #partners img.medium {
        height: 70px;
    }
    #partners img.big {
        height: 85px;
    }
    .carousel-inner {
        position: relative;
    }
    .carousel-inner .container {
        position: relative;
        background-image: url('../img/img3.jpg');
        background-position: center;
        background-size: cover;
    }
    .timer-circle .container-circles {
        display: flex;
        gap: 10px;
        justify-content: center;
        flex-wrap: wrap;
    }
    h2.top-text, .desc h3 {
        padding: 15px;
    }
    #bg1, #bg2, #bg3 {
        display: none;
    }
    .carousel-indicators {
        display: none;
    }
    .carousel {
        height: auto;
    }
    nav ul {
        flex-wrap: wrap;
        padding: 0;
    }
    nav ul li {
        flex-basis: 100%;
    }
}
@font-face {
    font-family: "logo";
    src: url("../fonts/logo.otf");
}
nav {
    flex-grow: 2;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
}
nav ul li {
    flex-grow: 1;
}
nav ul li:last-child {
    flex-grow: 3;
    display: flex;
    justify-content: center;
}
ul a {
    color: white;
    font-family: "Lato", Helvetica, sans-serif;
    font-weight: 600;
}
ul a:hover, ul a:focus  {
    color: #E3413F;
    text-decoration: none;
}

ul a span {
    background-color: #E3413F;
    width: 140px;
    display: flex;
    height: 40px;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 20px;
}

ul a span:hover, ul a span:focus {
    background-color: white;
    text-shadow: none;
    border: 2px solid #E3413F;
}
.desc {
    margin: auto;
    max-width: 850px;
    text-align: center;
}
.desc h3 {
    line-height: 1.4;
    font-size: 22px;
    font-weight: 700;
}
h3 {
    color: white;
    font-size: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.main-associations .small {
    height: 90px;
}

.main-associations .medium {
    height: 120px;
}
.button-more {
    background-color: #E3413F;
    display: block;
    margin: 25px auto;
    padding: 3px 25px;
    font-size: 15px;
    border-radius: 30px;
    color: white;
    border: 2px solid #E3413F;
}

.button-more:hover, .button-more:focus {
    color: #E3413F;
    background-color: white;
    text-decoration: none;
}
.section-title {
    margin: 25px auto;
    text-transform: uppercase;
}
.section-end {
    display: flex;
}
#header::before {
    background-image: url('../img/img3.jpg');
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    filter: brightness(0.7);
    z-index: -1;
    background-size: cover;
    background-position: bottom;
}
#header {
    border-bottom: 2px solid black;
}
footer a, footer a:hover {
    color: white;
}
header nav a:not(.cta) {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@keyframes zoom-in {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1.2, 1.2);
    }
}
@keyframes zoom-out {
    0% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}

#bg1 {
    animation: zoom-in 6s ease-out 1;
}
#bg2 {
    animation: zoom-out 6s ease-out 1;
}
#bg3 {
    animation: zoom-in 6s ease-out 1;
}



label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
    background-color: #E3413F;
    color: white;
}
.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;

}

.card{
	margin-left: 10px;
	margin-right: 10px;
}

.contact-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
}

.contact-info {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-wrapper {
    border-radius: 50%;
    background-color: #2C8FCD;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.association-img {
    border-radius: 15px;
}

.association-detail h4 {
    font-size: 24px;
}

.association-quote {
    justify-content: center;
    display: flex;
    align-items: stretch;
    gap: 10px;
}

.project-quote {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sponsor-list {
    display: flex;
    flex-wrap: wrap;
    list-style: square;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.sponsor-list a {
    color: #428bca;
    text-decoration: none;
}